*.*~
*~
.*~
/.metadata/
site-packages/
python3.11/
fastmcp1-env/
vanilla-sse-env/
fastmcp-env/
fastmcp2-env/
mcp-venv/
.project
.settings/
.classpath
.pydevproject
.venv
target/
*.jar
*.class
dependency-*.xml
.python-version
uv.lock
.env
